*{
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(145deg, #6c3dff, #9f7cff);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url(https://images7.alphacoders.com/134/1342751.png);
}

.timer-container{
    background-color: #fff;
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 20px; /* Rounder corners */
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(255, 255, 255, 0.5);
    text-align: center;
    backdrop-filter: blur(10px);
}

.mode-panel{
    font-family: 'Poppins', sans-serif;
    color: #8c52ff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.timer-display {
    position: relative;
    width: 92%;
    background: #f0f0ff;
    left: 4%;
    font-family: 'Roboto Mono', monospace;
    color: #8c52ff;
    font-size: 48px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: inset 0 0 20px rgba(65, 5, 145, 0.25);
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.timer-buttons{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}
.timer-button{
    background-color: #8c52ff;
    color: #fff;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.timer-button:hover{
    transform: scale(1.08);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.timer-container-control-button{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.timer-container-control-button button{
    color: #fff;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.timer-container-control-button button:nth-last-child(2){
    background-color: #ff5733;
}

.timer-container-control-button button:nth-last-child(1){
    background-color: #ffd700;
}

.timer-container-control-button button{
    background-color: #8c52ff;
}

.timer-container-control-button button:hover{
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}
.timer-container-control-button button:active{
    transform: scale(0.98);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Navbar */
.navbar-custom{
    background-color: #fff;
    padding: 50px;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.container-fluid img{
    position: relative;
    top: -5px;
    height: 40px;
    width: 40px;
    margin-left: 80px;
}
.navbar-custom .navbar-brand{
    font-size: 30px;
    font-weight: 500;
    color: #d896ff;
    /* margin: 0 20px; */
    /* text-transform: uppercase; */
    font-family: sans-serif;
}

.navbar-custom .navbar-brand:hover{
    color: #8800C7;
}

.navbar-custom .nav-item{
    margin: 0 1.5rem;
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
}
.navbar-custom .nav-item .nav-link, .navbar-custom .nav-item .btn {
    width: 100px;
    color: #fff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.navbar-custom .nav-item a:hover, .navbar-custom .nav-item .btn:hover{
    color: #fff;
    background-color: #800fff;
    border-radius: 10px;
    transform: scale(1.05);
}

/* Side Menu Button */
.sidebar-toggler{
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: 5px;
    top: auto;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar-toggler .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #800fff;
    border-radius: 50px;
    transition: 0.3s ease;
}
.sidebar-toggler .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sidebar-toggler .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sidebar-toggler .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked ~ .sidebar-toggler .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input[type="checkbox"]:checked ~ .sidebar-toggler .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
input[type="checkbox"]:checked ~ .sidebar-toggler .middle_line{
    opacity: 0;
    transform: translateX(20px);
}

input[type="checkbox"]:checked ~ .Side-Slide{
    transform: translateX(0) ;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
input:checked ~ .sidebar-toggler {
    width: 30px;
    height: 30px;
    z-index: 1002; /* Ensure the button stays on top when the menu is open */
}
.SideMenuToggle{
    display:none;
}
/* Side Menu */
.Side-Slide{
    height: 100vh;
    width: 230px;
    position:absolute;
    background-color: #fff;
    border-radius: 15px;
    transition: 0.5s ease;
    top: 0;
    right:0;
    left: 0;
    z-index: 1000;
    transform: translateX(-250px);
}

.Side-Slide .Main-Title{
    color: #800fff;
    font-weight: 800;
    text-align: center;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}
.separator{
    border: none;
  height: 1px;
  background-color: #7007fa; /* Change this color as needed */
  width: 80%;
  margin: 10px auto;
}

.mini-title{
    font-weight: 500;
    color: #d896ff;
    text-transform: uppercase;
    text-align: left;
    width: 80%;
    margin: 10px;
}

.Side-Slide ul{
    padding: 0;
    margin: 10px 0;
}

.Side-Slide ul li{
    list-style-type: none;
}

.Side-Slide ul li a {
    color: #011a41;
    font-weight: 650;
    padding: 15px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.Side-Slide ul li a:hover{
    color: #fff;
    background-color: #800fff;
}

.Side-Slide ul li a svg {
    width: 40px;
    text-align: center;
}
.Side-Slide ul li button {
    color: #011a41;
    font-weight: 650;
    padding: 15px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}
.Side-Slide ul li button svg {
    width: 40px;
    text-align: center;
}
.Side-Slide ul li button:hover{
    color: #fff;
    background-color: #800fff;
}

/* To-do Container */
.todo-container{
    height: 80%;
    width: 350px;
    position:absolute;
    background-color: #fff;
    border-radius: 15px;
    transition: 0.5s ease;
    bottom: 0;
    right:0;
    padding: 10px;
    margin-bottom: 50px;
}
.todo-app-title{
    width: 100%;
    max-width: 450px;
    margin: 25px auto;
    text-align: center;
    padding: 5px 15px;
    border-radius: 10%;
    box-shadow: inset 0 0 20px rgba(65, 5, 145, 0.25);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    color: #800fff;;
}
.todo-row{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 10%;
    box-shadow: inset 0 0 20px rgba(65, 5, 145, 0.25);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    margin-bottom: 25px;
}
.todo-row input{
    background: transparent;
    outline: none;
    border: none;
    padding: 10px;
}

.todo-row .btn:hover{
    color: #fff;
    background-color: #800fff;
    transform: scale(1.08);
}

.todo-list-container li {
    list-style-type: none;
    font-size: 17px;
    padding: 12px 12px 12px 60px; /* Adjust left padding to accommodate the ::before element */
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #800fff;
}

.todo-list-container li::before {
    content: '';
    position: absolute;
    top: 50%; /* Center the icon vertically */
    left: 15px; /* Set some distance from the left edge */
    transform: translateY(-50%); /* Correct vertical alignment */
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./images/unchecked-41-48.png);
    background-size: cover;
    background-position: center; /* Ensure proper alignment */
}

.todo-list-container li.checked {
    color: #555;
    text-decoration: line-through;
}

.todo-list-container li.checked::before {
    background-image: url(./images/circle-with-check-symbol.png);
    color: #800fff;
}
.todo-list-container span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.todo-list-container span:hover{
    background: #edeef0;
    color: #800fff;
}

.TodoToggle-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #800fff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Timer Setting */
.modal-body input{
    border: none;
    outline: none;
    box-shadow: inset 0 0 20px rgba(65, 5, 145, 0.25);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10%;
}

/* Audio controls */
audio{
    display: none;
    color: #edeef0;
}

#background-video{
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
}
.btn{
    fill: #edeef0;
}
